@import '../js/vendor/bootstrap/less/bootstrap.less';
@import '../js/vendor/yamm3/yamm/yamm.less';

@import '_variables.less';
@import '_hyicons.less';

@import '_offcanvas.less';
@import '_homepage.less';
@import '_navigation.less';
@import '_cart.less';
@import '_search.less';
@import '_modals.less';

@import '_pdp-carousel.less';
@import '_pdp.less';
@import '_products-list.less';
@import '_product-img-carousel.less';

@import '_checkout.less';
@import '_confirm.less';

@import '_account.less';
@import '_overwrites.less';

@import '_search.less';


@import '_global.less';

@color-light: #f0f0f0;
@color-dark: #555;

@color-link: #00B7FF;
@font-main: 'lucida sans';
body {
  padding: 0 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
}

a {
  color: @color-link;
}

.home-container{
    position: absolute;
    width: 100%;
    .home-title{
        text-align: center;
        margin: 30px;
        color: @color-light;
        font: @font-main;
    }
    .home-logo-container{
        text-align: center;
        width: 100%;
        img{
            margin: auto;
            &.home-logo{
                max-width: 30%;
                width: 15%;
            }
        }
    }
}
#sr_results, #sr_button {
    display: inline-block;
}
#sr_results {
    width: 450px;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#sr_button{
    font: bold 15px/20px @font-main;
    color: @color-light;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.right-inner-addon{
    text-align: center;
}

.desktopNav .row.info, .desktopNav .row.nav{
    background-color: @color-light;
}

.y-search .y-search-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
